{
  "users": {
    "+12223334444": {
      "pocket_id_sub": "example_sub",
      "beeminder_goal": "bike",
      "preferences": {
        "vacation_mode": false,
        "reminder_delivery_method": "whatsapp"
      }
    }
  },
  "message_log": []
}
